@page
@model LockoutModel
@{
    ViewData["Title"] = "Konto zablokowane";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">To konto zostało zablokowane, skontakuj się z administratorem strnony lub spróbuj ponownie później.</p><br />
    <p>WSTAWIĆ MAILA ADMINA LUB JAKIŚ FORMULARZ DO ADMIANA LUB COŚ W TYM STYLU</p>
</header>
