@page
@model Projek_MVC_v2.Areas.Identity.Pages.Account.ProfilModel
@{
    ViewData["Title"] = "Wybierz profil dla Ciebie";
}
<center><h1 class="display-4">@ViewData["Title"]</h1></center>


 

        

        <div class="container">
            <center>
                <button onclick="location.href='/Identity/Account/Register'" type="button" class="btn btn-primary">
                    Zarejestruj jako darczyńca
                </button>


                <button onclick="location.href='http://www.example.com'" type="button" class="btn btn-primary">
                    Zarejestruj jako organizacja pozarządowa
                </button>
            </center>
        </div>







@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
