@page
@model Projek_MVC_v2.Areas.Identity.Pages.Account.ProfilModel
@{
    ViewData["Title"] = "Wybierz profil dla Ciebie";
}
<center><h1 class="display-4">@ViewData["Title"]</h1></center>


<div class="text-center">
    <section class="part2">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <img alt="" id="shadow" class="resize-image center-block" width="100%" height="auto" src="~/images/_LOGO_DARCZYNCA.jpg" />   
                    <br /><br /><button onclick="location.href='/Identity/Account/Register'" type="button" class="btn btn-primary">
                        Zarejestruj jako darczyńca
                    </button>
                </div>
                <div class="col-md-4">
                    <img alt="" id="shadow" onclick="location.href='http://www.example.com'" class="resize-image center-block" width="100%" height="auto" src="~/images/_LOGO_ORGANIZACJA.jpg" />
                    <br /><br /><button onclick="location.href='http://www.example.com'" type="button" class="btn btn-primary">
                        Zarejestruj jako organizacja pozarządowa
                    </button>
                </div>
            </div>
        </div>
    </section>
</div>



<!--<div class="container">
    <center>
        <button onclick="location.href='/Identity/Account/Register'" type="button" class="btn btn-primary">
            Zarejestruj jako darczyńca
        </button>

        <button onclick="location.href='http://www.example.com'" type="button" class="btn btn-primary">
            Zarejestruj jako organizacja pozarządowa
        </button>
    </center>
 </div>-->







@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
