@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Potwierdzenie rejestracji";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
    Właśnie zarejestrowałeś konto, aby się zalogować konieczne jest potwierdzenie adresu e-mail.

</p>
    }
    else
    {
<p>
        Please check your email to confirm your account.
</p>
    }
}
