@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Potwierdzenie rejestracji";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
    Właśnie zarejestrowałeś konto, aby się zalogować konieczne jest potwierdzenie adresu e-mail poprzez kliknięcie linku wysłanego na maila podanego przy rejestracji.

</p>
    }
    else
    {
<p>
        Sprawdź swój email żeby portwierdzić rejestrację.
</p>
    }
}
