@model DonorFormModel

@{
    ViewBag.Title = "Przekazywanie podarków";

   
}

<h1>@ViewData["Title"]</h1>

    <div class="row">
        <div class="col-md-12">
            <form id="main_form" action="/Home/Donation" method="post">

                <div asp-validation-summary="All" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="Campaign">Nazwa kampanii</label>
                    <input id="_campaign" asp-for="Campaign" class="form-control" readonly />
                    <span asp-validation-for="Campaign" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="EmailDarczyncy">Email darczyńcy</label>
                    <input asp-for="EmailDarczyncy" class="form-control" readonly />
                    <span asp-validation-for="EmailDarczyncy" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="EmailOdbiorcy">Email odbiorcy</label>
                    <input asp-for="EmailOdbiorcy" class="form-control" readonly />
                    <span asp-validation-for="EmailOdbiorcy" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="First_Name">Imię</label>
                    <input asp-for="First_Name" class="form-control" readonly />
                    <span asp-validation-for="First_Name" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Last_Name">Nazwisko</label>
                    <input asp-for="Last_Name" class="form-control" readonly />
                    <span asp-validation-for="Last_Name" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="PhoneNumber">Numer telefonu*</label>
                    <input asp-for="PhoneNumber" class="form-control" readonly />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="County">Województwo*</label>
                    <input asp-for="County" class="form-control" />
                    <span asp-validation-for="County" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="City">Miejscowość*</label>
                    <input asp-for="City" class="form-control" />
                    <span asp-validation-for="City" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Street">Ulica*</label>
                    <input asp-for="Street" class="form-control" />
                    <span asp-validation-for="Street" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Street_Number">Numer budynku*</label>
                    <input asp-for="Street_Number" class="form-control" />
                    <span asp-validation-for="Street_Number" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="PostalCode">Kod pocztowy*</label>
                    <input asp-for="PostalCode" class="form-control" />
                    <span asp-validation-for="PostalCode" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label for="birthday">Wybierz datę odbioru podarków*:</label>
                    <input type="date" id="pickup_date">
                    <span asp-validation-for="Date" class="text-danger"></span>
                </div>

               

                <div class="form-group">
                    <label asp-for="firm_name">asdasdasdadadasd</label>
                    <input asp-for="firm_name" class="form-control" />
                    <span asp-validation-for="firm_name" class="text-danger"></span>
                </div>

                <button id="1" class="btn btn-outline-secondary" type="submit">Prześlij</button>
                <!--<button class="btn btn-primary" type="button" onclick="location.href='@Url.Action("Donation", "Home")'">Przekaż darowiznę</button>


    <button OnClick="send_Click" class="btn btn-primary">Przekaż darowiznę</button>
    <button type="submit" class="btn btn-primary">Przekaż darowiznę</button><br />-->
                <p>* - pola wymagane</p>

            </form>
        </div>
    </div>
