@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">System Przekazywania Darowizn</h1>
        <p>OPISAĆ CEL/ZAŁOŻENIA PROJEKTU.</p><br />
        <section class="part2">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <img alt="" class="resize-image center-block" id="image1" width="100%" height="auto" border-radius="25px" src="~/images/kat-yukawa-K0E6E0a0R3A-unsplash.jpg" />
                            <p class="text-center"><strong>TYTUŁ KAMPANII</strong></p>
                            <p class="text-center">SKRÓCONY OPIS KAMPANII NA ZAŁÓŻMY HMMMMMM 140/280 ZNAKÓW</p>
                                <button id="1" class="btn btn-outline-secondary" type="button" onclick="location.href='@Url.Action("SupportCampaign","Home")'">Wspomóż</button>
                    </div>
                    <div class="col-md-4">
                        <img alt="" class="resize-image center-block" id="image2" width="100%" height="auto" border-radius="25px" src="~/images/perry-grone-lbLgFFlADrY-unsplash.jpg" />
                            <p class="text-center"><strong>TYTUŁ KAMPANII</strong></p>
                            <p class="text-center">SKRÓCONY OPIS KAMPANII NA ZAŁÓŻMY HMMMMMM 140/280 ZNAKÓW</p>
                                <button id="2" class="btn btn-outline-secondary" type="button" onclick="location.href='@Url.Action("SupportCampaign","Home")'">Wspomóż</button>
                    </div>
                    <div class="col-md-4">
                        <img alt="" class="resize-image center-block" id="image3" width="100%" height="auto" border-radius="25px" src="~/images/sandy-millar-S5pFhDxUXyw-unsplash.jpg" />
                            <p class="text-center"><strong>TYTUŁ KAMPANII</strong></p>
                            <p class="text-center">SKRÓCONY OPIS KAMPANII NA ZAŁÓŻMY HMMMMMM 140/280 ZNAKÓW</p>
                                <button id="3" class="btn btn-outline-secondary" type="button" onclick="location.href='@Url.Action("SupportCampaign","Home")'">Wspomóż</button>
                    </div>
                </div>
            </div>
        </section>
    </div>
