@model List<KampanieDisplayDataModel>
@{
    ViewData["Title"] = "Home Page";
}
@using MySql.Data.MySqlClient;
@using System.Linq;
@{
    var model = new List<KampanieDisplayDataModel>();
    DatabaseConnection db = new DatabaseConnection();
    MySqlConnection cnn = new MySqlConnection(db.GetConString());
    var command = cnn.CreateCommand();
    command.CommandText = "select idkampanie,username,tytul,krotki_opis,picture from kampanie";
    cnn.Open();

    MySqlDataReader rdr = command.ExecuteReader();

    while (rdr.Read())
    {
        var KapaniaModel = new KampanieDisplayDataModel();
        KapaniaModel.idkampania = (int)rdr["idkampanie"];
        KapaniaModel.username = (string)rdr["username"];

        KapaniaModel.tytul = (string)rdr["tytul"];

        KapaniaModel.krotkiopis = (string)rdr["krotki_opis"];

        KapaniaModel.obrazek_path = (string)rdr["picture"];

        model.Add(KapaniaModel);

    }

    //command.ExecuteNonQuery();
    cnn.Close();


   

}

<div class="text-center">
    <h1 class="display-4">System Przekazywania Darowizn</h1>
    <p>OPISAĆ CEL/ZAŁOŻENIA PROJEKTU.</p><br />
    <section class="part2">
        <div class="container">
            <div class="row">
                @foreach (var kampania in model) { 
                <div class="col-md-4">
                    <img alt="" class="resize-image center-block" id="image1" width="100%" height="auto" border-radius="25px" src="@kampania.obrazek_path" />
                    <p class="text-center"><strong>@kampania.tytul</strong></p>
                    <p class="text-center">@kampania.krotkiopis</p>
                    @{ if (model.Any())
                        {
                            <button id="1" class="btn btn-outline-secondary" type="button" onclick="location.href='@Url.Action("SupportCampaign","Home", new { id = kampania.idkampania })'">Wspomóż</button>
                        }
                    }

                </div>
                }
            </div>
        </div>
    </section>
</div>
