
@{
    ViewData["Title"] = "Wspomóż wybraną kampanię";
}
    <div class="text-center">
        <h1 class="display-4">@ViewData["Title"]</h1>
        <img alt="" class="resize-image center-block" id="image1" width="60%" height="auto" src="~/images/kat-yukawa-K0E6E0a0R3A-unsplash.jpg" />
        <p class="text-center"><strong>TYTUŁ KAMPANII</strong></p>
        <p class="text-center">PEŁNY OPIS KAMPANII</p>
        <button class="btn btn-outline-secondary" type="button" onclick="location.href='@Url.Action("DonorForm","Home")'">Przekaż podarunek</button>
    </div>
